#mwa{
	overflow-x: scroll;
}
#a1{
	border:3px solid;
	background-color: cyan;
}
#a2{
	border:3px solid;
	background-color: hotpink;
}
#a3{
	border:3px solid;
	background-color: rgb(255, 155, 213);
}
#a4{
	border:3px solid;
	background-color: hotpink;
}
#a5{
	border:3px solid;
	background-color: rgb(255, 155, 213);
}
#a6{
	border:3px solid;
	background-color: hotpink;
}
#a7{
	border:3px solid;
	background-color: rgb(255, 155, 213);
}
#a8{
	border:3px solid;
	background-color: hotpink;
}
#a9{
	border:3px solid;
	background-color: rgb(255, 155, 213);
}
#a10{
	border:3px solid;
	background-color: hotpink; 
}
#a11{
	border:3px solid;
	background-color: rgb(255, 155, 213);
}
#a12{
	border:3px solid;
	background-color: hotpink;
}
#a13{
	border:3px solid;
	background-color: rgb(255, 155, 213);
}
#a14{
	border:3px solid;
	background-color: skyblue;
}
#a15{
	border:3px solid;
	background-color: skyblue;
}
#a16{
	border:3px solid;
	background-color: skyblue;
}
#a17{
	border:3px solid;
	background-color: skyblue;
}
#a18{
	border:3px solid;
	background-color: skyblue;
}
#a19{
	border:3px solid;
	background-color: skyblue;
}
#a20{
	border:3px solid;
	background-color: skyblue;
}
#a21{
	border:3px solid;
	background-color: skyblue;
}
#a22{
	border:3px solid;
	background-color: skyblue;
}
#a23{
	border:3px solid;
	background-color: skyblue;
}
#a24{
	border:3px solid;
	background-color: skyblue;
}
#a25{
	border:3px solid;
	background-color: skyblue;
}
#a26{
	border:3px solid;
	background-color: skyblue;
}
#a27{
	border:3px solid;
	background-color: skyblue;
}
#a28{
	border:3px solid;
	background-color: yellow;
}
#a29{
	border:3px solid;
	background-color: yellow;
}
#a30{
	border:3px solid;
	background-color: yellow;
}
#a31{
	border:3px solid;
	background-color: yellow;
}
#a32{
	border:3px solid;
	background-color: yellow;
}
#a33{
	border:3px solid;
	background-color: yellow;
}
#a34{
	border:3px solid;
	background-color: yellow;
}
#a35{
	border:3px solid;
	background-color: yellow;
}
#a36{
	border:3px solid;
	background-color: yellow;
}
#a37{
	border:3px solid;
	background-color: yellow;
}
#a38{
	border:3px solid;
	background-color: yellow;
}
#a39{
	border:3px solid;
	background-color: yellow;
}
#a40{
	border:3px solid;
	background-color: yellow;
}
#a41{
	border:3px solid;
	background-color: yellow;
}
#a42{
	border:3px solid;
	background-color: yellow;
}
#a43{
	border:3px solid;
	background-color: yellowgreen;
}
#a44{
	border:3px solid;
	background-color: yellowgreen;
}
#a45{
	border:3px solid;
	background-color: yellowgreen;
}
#a46{
	border:3px solid;
	background-color: yellowgreen;
}
#a47{
	border:3px solid;
	background-color: yellowgreen;
}
#a48{
	border:3px solid;
	background-color: yellowgreen;
}
#a49{
	border:3px solid;
	background-color: yellowgreen;
}
#a50{
	border:3px solid;
	background-color: yellowgreen;
}
#a51{
	border:3px solid;
	background-color: yellowgreen;
}
#a52{
	border:3px solid;
	background-color: yellowgreen;
}
#a53{
	border:3px solid;
	background-color: yellowgreen;
}
#a54{
	border:3px solid;
	background-color: yellowgreen;
}
#a55{
	border:3px solid;
	background-color: yellowgreen;
}
#a56{
	border:3px solid;
	background-color: yellowgreen;
}
#a57{
	border:3px solid;
	background-color: yellowgreen;
}
#a58{
	border:3px solid;
	background-color: yellowgreen;
}
#a59{
	border:3px solid;
	background-color: skyblue;
}
#a60{
	border:3px solid;
	background-color: skyblue;
}
#a61{
	border:3px solid;
	background-color: skyblue;
}
#a62{
	border: 3px solid;
	background-color: skyblue;
}
#a63{
	border: 3px solid;
	background-color: mediumpurple;
}
#a64{
	border: 3px solid;
	background-color:pink ;
}
#a65{
	border: 3px solid;
	background-color: aquamarine;
    text-s
}
#a66{
	border: 3px solid;
	background-color: dodgerblue;
}
#a67{
	border: 3px solid;
	background-color: cornflowerblue;
}
#a68{
	border: 3px solid;
	background-color:deeppink;
}
